{% extends "base.html" %}

{% block content %}

<h2>Add a new recipe</h2>

<form action="{% url 'add_recipe' %}" method="POST">
  {% csrf_token %}

  <div class="form-field mb3">
    <label class="db f5 mb2" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
    <input type="text" class="pa2 f4 w-100" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}">
  </div>

  <div class="form-field mb3">
    <label class="db f5 mb2" for="{{ form.prep_time_in_minutes.id_for_label }}">{{ form.prep_time_in_minutes.label }}</label>
    <input type="number" min="0" class="pa2 f4 w-100" id="{{ form.prep_time_in_minutes.id_for_label }}" name="{{ form.prep_time_in_minutes.html_name }}">
  </div>

  <div class="form-field mb3">
    <label class="db f5 mb2" for="{{ form.cook_time_in_minutes.id_for_label }}">{{ form.cook_time_in_minutes.label }}</label>
    <input type="number" min="0" class="pa2 f4 w-100" id="{{ form.cook_time_in_minutes.id_for_label }}" name="{{ form.cook_time_in_minutes.html_name }}">
  </div>

  <div>
    <button type="submit">Add new recipe</button>
  </div>
</form>

{% endblock %}
