{% extends "base.html" %}

{% block content %}
<h1>All Contacts</h1>

<p><a href="{% url 'add_contact' %}">Add New Contact</a></p>

<div class="flex flex-wrap">
  {% for contact in contacts %}
  <div class="w-33 pa3">
    <h2><a href="{% url 'show_contact' pk=contact.pk %}">{{ contact.name }}</a></h2>

    {% if contact.company_name %}
    <h3>{{ contact.company_name }}</h3>
    {% endif %}

    {% for address in contact.addresses.all %}
    <div class="flex">
      <div class="pr2"><i class="icofont-location-pin"></i></div>
      <div>
        {% if address.address_type %}
        <strong>{{ address.address_type }}</strong><br />
        {% endif %}
        {{ address.line_1 }}<br />
        {% if address.line_2 %}
          {{ address.line_2 }}<br />
        {% endif %}
        {{ address.city }}, {{ address.state }} {{ address.zip_code }}
      </div>
    </div>
    {% endfor %}

    {% if contact.phone_number %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ contact.phone_number }}</div>
    </div>
    {% endif %}

    {% if contact.email %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ contact.email }}</div>
    </div>
    {% endif %}

    {% if contact.birthday %}
    <div class="flex">
      <div class="pr2"><i class="icofont-birthday-cake"></i></div>
      <div>{{ contact.birthday|date:"Y-m-d" }}</div>
    </div>
    {% endif %}

    <p>
      <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>
      <a href="{% url 'add_address' contact_pk=contact.pk %}">Add Address to Contact</a><br>
      <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a>
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}
